:root {
  --action-width: 30px;
  --property-width: 125px;
  --gutter: 5px;
  --border-color: #ccc;
  --card-color: #C7CCD9;
}

.ui-cards {
  display: flex;
  flex-wrap: wrap;
}

.ui-card {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.ui-card .label {
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: block;
  line-height: normal;
  text-align: inherit;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: #5a5a5a;
  opacity: 0.6;
}

/* global padding */
.ui-card .primary,
.ui-card .properties .property {
  padding: 10px;
}

/* =primary */
.ui-card.content-card > .primary {
  flex-basis: 75%;
}

.ui-card > .primary {
  border: 1px solid var(--border-color);
  border-right: 0;
  margin-top: -1px;
  min-width: 35%;
  flex-basis: 50%;
  flex-grow: 1;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.ui-card.no-properties > .primary,
.ui-cards.grid .ui-card > .primary {
  border-right: 1px solid var(--border-color);
}

.ui-card .ui-c-head {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ui-card > .primary .text {
  flex-grow: 1;
}

.ui-card > .primary .avatar {
  flex-shrink: 0;
  box-sizing: content-box;
  display: inline-flex;
  overflow: hidden;
  margin-right: 8px;
}

.ui-card > .primary .avatar > * {
  width: 100%;
  height: 100%;
  margin: 0;
  color: inherit;
}

.ui-card > .primary .avatar img {
  height: auto !important;
}

.ui-card > .primary .avatar > [class*="fa-"] {
  padding: 12px;
}

.ui-card > .primary .label {
  margin-bottom: 3px;
  white-space: pre-wrap;
  text-align: left;
  z-index: 0;
}

.ui-card > .primary .title {
  padding: 0;
  margin: 0;
  font-size: 14px;
  /*font-weight: 200;*/
  color: #5a5a5a;
}

.ui-card > .primary .description {
  margin-top: 3px;
  overflow-wrap: break-word;
}

.ui-card.content-card > .primary .description {
  padding-top: 3px;
}

/**/
.ui-cards .ui-card.no-avatar.no-label.no-description .primary {
  display: flex;
  align-items: center;
}

/* icons */
.ui-card .icons {
  padding-left: 6px;
  float: right;
  position: relative;
  top: -3px;
  z-index: 1;
}

.ui-card .icons > [class*="fa-"] {
  transform: scale(0.75);
}

.ui-cards.stacked .ui-card {
  margin-bottom: 0;
  margin-right: 0;
  z-index: 1;
}

/* =secondary */
.ui-card .properties {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  background: var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  margin-top: -1px;
}

.ui-card .properties .property {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  text-align: inherit;
  background: #f9f9f9;
  color: #5a5a5a;
  width: 0;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.ui-card .properties .property .label {
  margin-bottom: 0;
}

.ui-card .properties .property .value {
  margin-bottom: 4px;
  font-size: 14px;
}

.ui-card .properties .property .label,
.ui-card .properties .property .value {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* styles for when property can be copied to clipboard */
.ui-card .properties .property .copy {
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 22px;
  background: #f9f9f9;
}

.ui-card .properties .property:hover .copy {
  opacity: 1;
}

.ui-card .properties .property[data-copy] {
  cursor: copy;
}

.ui-card .properties .property[data-copy] .value {
  margin-bottom: 4px;
}

/* card border left colour */

.ui-card:before {
  content: '';
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--card-color);
}

.ui-card.stacked:before {
  bottom: 0;
}

.ui-card.default:before {
  background-color: rgb(199, 204, 217);
}

.ui-card.default.colour-bg .primary {
  background-color: rgba(199, 204, 217, 0.06);
}

.ui-card.red:before {
  background-color: rgb(192, 57, 43);
}

.ui-card.red.colour-bg .primary {
  background-color: rgba(192, 57, 43, 0.06);
}

.ui-card.orange:before {
  background-color: rgb(230, 126, 34);
}

.ui-card.orange.colour-bg .primary {
  background-color: rgba(230, 126, 34, 0.06);
}

.ui-card.yellow:before {
  background-color: rgb(241, 196, 15);
}

.ui-card.yellow.colour-bg .primary {
  background-color: rgba(241, 196, 15, 0.06);
}

.ui-card.green:before {
  background-color: rgb(19, 149, 67);
}

.ui-card.green.colour-bg .primary {
  background-color: rgba(19, 149, 67, 0.06);
}

.ui-card.sky:before {
  background-color: rgb(52, 152, 219);
}

.ui-card.sky.colour-bg .primary {
  background-color: rgba(52, 152, 219, 0.06);
}

.ui-card.blue:before {
  background-color: rgb(41, 128, 185);
}

.ui-card.blue.colour-bg .primary {
  background-color: rgba(41, 128, 185, 0.06);
}

.ui-card.indigo:before {
  background-color: rgb(110, 92, 182);
}

.ui-card.indigo.colour-bg .primary {
  background-color: rgba(110, 92, 182, 0.06);
}

.ui-card.violet:before {
  background-color: rgb(142, 68, 173);
}

.ui-card.violet.colour-bg .primary {
  background-color: rgba(142, 68, 173, 0.06);
}

.ui-card.pink:before {
  background-color: rgb(218, 73, 190);
}

.ui-card.pink.colour-bg .primary {
  background-color: rgba(218, 73, 190, 0.06);
}

.ui-card.grey:before {
  background-color: rgb(189, 195, 199);
}

.ui-card.grey.colour-bg .primary {
  background-color: rgba(189, 195, 199, 0.06);
}

.ui-card.black:before {
  background-color: rgb(51, 51, 51);
}

.ui-card.black.colour-bg .primary {
  background-color: rgba(51, 51, 51, 0.06);
}

/* define button styles based on action type */

/* =actions */
.ui-card .actions {
  box-sizing: content-box;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: stretch;
  background: #eeeef1;
  border-bottom: 1px solid var(--border-color);
}

.ui-card .actions .action {
  display: flex;
  width: var(--action-width);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  background: #fff;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  margin-top: -1px;
  margin-left: -1px;
  border-bottom: none;
  border-radius: 0 !important;
  color: #4B4D51;
}

.ui-card .actions .action [class*="fa-"] {
  color: inherit;
}

/**/
.ui-card .actions .action[data-type="create"] {
  color: #3c763d;
  background: #dff0d8;
}

.ui-card .actions .action[data-type="delete"] {
  color: #a94442;
  background: #f2dede;
}

/* icon colour change only */
.ui-card .actions .action[data-type="is-default"] {
  color: #f1c40f;
}

.ui-card .actions .action[data-type="disable"],
.ui-card .actions .action[data-type="approve"],
.ui-card .actions .action[data-type="restore"],
.ui-card .actions .action[data-type="verify"],
.ui-card .actions .action[data-type="add"] {
  color: #3c763d;
}

.ui-card .actions .action[data-type="enable"],
.ui-card .actions .action[data-type="decline"],
.ui-card .actions .action[data-type="remove"] {
  color: #a94442;
}

/* =.list */
.ui-cards.list .ui-card {
  margin-bottom: var(--gutter);
}

.ui-card .properties .property {
  min-width: var(--property-width);
  justify-content: center;
  text-align: center;
}

/* =.grid */
.ui-cards.grid .ui-card {
  flex-direction: column;
  flex-basis: auto;
  width: 33.33%;
  min-width: 260px;
  flex-grow: 1;
}

.ui-cards.grid {
  margin-right: calc(var(--gutter) * -1);
}

.ui-cards.grid.fullwidth .ui-card {
  width: 100%;
}

.ui-cards.grid .ui-card {
  padding-right: var(--gutter);
  margin-bottom: var(--gutter);
}

/* =stacked */

.ui-cards.stacked .ui-card:before,
.ui-cards.stacked .ui-card {
  bottom: 0;
  margin-bottom: 0;
  padding-right: 0;
}
