
.query-builder .qb-rule {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.query-builder .qb-add-rule,
.query-builder .qb-rule > * {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 3px 5px;
}

.query-builder .qb-add-rule,
.query-builder .qb-rule > :first-child {
  margin-left: 0;
}

.query-builder .qb-add-rule,
.query-builder .qb-rule .qb-key,
.query-builder .qb-rule .qb-comparator,
.query-builder .qb-rule .qb-remove-rule {
  flex-grow: 0;
}

.query-builder .qb-rule .qb-comparator {
  width: 140px;
}

.query-builder .qb-add-rule,
.query-builder .qb-rule input,
.query-builder .qb-rule select,
.query-builder .qb-rule .qb-input {
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  color: #555;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background: white;
  vertical-align: top;
}

.query-builder .qb-button {
  border-radius: 15px;
  font-size: 18px;
  border: 1px solid #d7dada;
  height: 30px;
  width: 30px;
  font-weight: bold;
  color: #333;
  padding-top: 0;
  background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.query-builder .qb-button:hover {
  color: #1470FF;
}

.query-builder .qb-remove-rule {
  border: 0;
  background: transparent;
  color: #949494;
}

.query-builder .qb-remove-rule:hover {
  color: #B20000;
}

.query-builder .qb-remove-rule[disabled] {
  opacity: 0.3;
  color: #949494 !important;
}
