html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 110px;
  line-height: 1.4;
  font-size: 12px;
  color: #555;
  background: #f6f6f6;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 5px 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: 16px;
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
}

#wrapper {
  margin: 20px 20px 20px 200px;
}

.content-container {
}

.content-container:before,
.content-container:after {
  content: " ";
  display: table;
  clear: both;
}

#title-bar {
  width: 180px;
  line-height: 23px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #2e3649;
  color: #9ca3ab;
}

.title-bar-nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color: #9ca3ab;
}

#title-bar h1 {
  margin: 15px;
}

#title-bar a:hover {
  color: #fff
}

.title-bar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.title-bar-nav > li {
  padding: 2px 14px;
}

