.f-hero-progress {
  display: flex;
  width: 100%;
  padding: 25px 50px;
}

.f-hero-progress-item {
  flex-grow: 1;
  position: relative;
  min-width: 140px;
}

.f-hero-progress-item > div > div, .f-hero-progress-item > a > div > div,
.f-hero-progress-item > div, .f-hero-progress-item > a > div {
  text-align: center;
  border-radius: 50%;
}

.f-hero-progress-item > div, .f-hero-progress-item > a > div {
  float: right;
  color: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
}

.f-hero-progress-item > strong, .f-hero-progress-item > a > strong,
.f-hero-progress-item > span, .f-hero-progress-item > a > span {
  position: absolute;
  width: 120px;
  text-align: center;
  right: -35px;
  line-height: 20px;
}

.f-hero-progress-item > strong, .f-hero-progress-item > a > strong {
  top: -25px;
  color: #ffffff;
}

.f-hero-progress-item > span, .f-hero-progress-item > a > span {
  bottom: -25px;
  color: rgba(255, 255, 255, 0.6);
}

.f-hero-progress-item.done > div, .f-hero-progress-item.done > a > div {
  color: #3862d0;
}

.f-hero-progress-pending {
  background: rgba(255, 255, 255, 0.3);
}

.f-hero-progress-item > div > div, .f-hero-progress-item > a > div > div {
  width: 44px;
  height: 44px;
  line-height: 54px;
}

.f-hero-progress-item::before,
.f-hero-progress-item::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;

}

.f-hero-progress-item::before {
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  right: 50px;
  margin-top: -4px;
  height: 7px;
}

.f-hero-progress-item.done::after, .f-hero-progress-item.current::after {
  background: #fff;
  height: 3px;
  right: 47px;
  left: -3px;
  margin-top: -2px;
}

.f-hero-progress-item.current::after {
  right: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.f-hero-progress-item:first-of-type {
  flex-grow: 0;
  min-width: auto;
}

.f-hero-progress-item:first-of-type::before,
.f-hero-progress-item:first-of-type::after {
  display: none;
}
