.f-page-navigation li > * {
  padding: 8px 0;
}

.f-page-navigation li > a {
  padding: 8px 0;
  display: block;
  color: #656565;
}

.f-page-navigation li > a:hover {
  color: #337ab7;
}

.f-page-navigation li,
.f-page-navigation {
  border: none;
}

.f-page-navigation li.selected,
.f-page-navigation li.selected:hover,
.f-page-navigation li:hover,
.f-page-navigation li.selected > a {
  background: transparent;
  color: #337ab7;
}

.f-page-navigation li.selected:before {
  content: none;
}

.f-page-navigation {
  margin-bottom: 15px;
}

.f-page-navigation > .f-page-navigation-title {
  font-size: 14px;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 8px;
}
